* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow";
}

.logo {
    margin-left: 50px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-right: 40px;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-ul {
    display: flex;
    list-style: none;
}

.nav-link,
.nav-link:visited,
.nav-link:active {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-right: 50px;
}

.nav-button {
    background-color: hsl(0, 0%, 100%);
    border: none;
    font-family: "Fraunces";
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    width: 140px;
    padding: 20px 30px 20px 30px;
    font-size: 16px;
}

.nav-button:hover {
    background-color: hsl(200, 91%, 74%);
    color: hsl(0, 0%, 100%);
}

.mobile-menu {
    background: hsl(0, 0%, 100%);
    width: 85vw;
    text-align: center;
    margin: auto;
    padding-top: 45px;
    padding-bottom: 35px;
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 25px;
    position: relative;
    display: none;
}

.top-figure {
    position: absolute;
    height: 35px;
    width: 35px;
    top: -35px;
    right: 0%;
    background: hsl(0, 0%, 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

.ul-nav-mobile {
    list-style: none;
}
.nav-link-mobile {
    text-decoration: none;
    color: hsl(213, 9%, 39%);
    font-size: 18px;
}

.nav-li-mobile {
    margin-bottom: 35px;
}

.mobile-button {
    background: hsl(50, 100%, 50%);
}

.home {
    width: 100%;
    height: 800px;
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
}

.main-tittle {
    font-size: 40px;
    font-family: "Fraunces";
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding-top: 130px;
    padding-bottom: 100px;
}

.arrow {
    text-align: center;
}

.seccion-about {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.about-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-item {
    width: 350px;
}

.second-tittle {
    font-family: "Fraunces";
    font-size: 30px;
    margin-bottom: 50px;
    color: hsl(212, 27%, 19%);
}

.paragraph {
    font-size: 16px;
    color: hsl(213, 9%, 39%);
    line-height: 30px;
    margin-bottom: 50px;
}

.about-image {
    width: 100%;
    height: auto;
}

.about-link {
    font-family: "Fraunces";
    text-transform: uppercase;
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    letter-spacing: 2px;
}

.about-link:hover {
    border-bottom: 5px solid hsl(50, 100%, 50%);
}

.red:hover {
    border-bottom: 5px solid hsl(9, 64%, 46%);
}

.last-images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-text {
    position: absolute;
    top: 70%;
    width: 320px;
    text-align: center;
    color: hsl(212, 27%, 19%);
    line-height: 25px;
}

.third-tittle {
    position: absolute;
    top: 60%;
    font-family: "Fraunces";
    font-size: 20px;
}

.testimonial-tittle {
    text-transform: uppercase;
    font-family: "Fraunces";
    color: hsl(210, 4%, 67%);
    text-align: center;
    padding-top: 150px;
    padding-bottom: 80px;
    letter-spacing: 5px;
}

.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 150px;
}

.testimonial-item {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.middle-item {
    margin-left: 40px;
    margin-right: 40px;
}

.testimonial-image {
    border-radius: 50%;
    margin-bottom: 50px;
}

.testimonial-paragraph {
    text-align: center;
    line-height: 30px;
    padding-bottom: 60px;
}
.testimonial-name {
    font-family: "Fraunces";
    margin-bottom: 20px;
}
.testimonial-ocupation {
    color: hsl(210, 4%, 67%);
}

.seccion-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.first-line,
.second-line {
    width: 50%;
    height: 450px;
    display: flex;
}

.gallery-item {
    overflow: hidden;
}

.gallery-image {
    height: 100%;
    width: auto;
}

.footer {
    min-height: 40vh;
    background: #90d4c5;
    text-align: center;
}

.footer-logo {
    padding-top: 70px;
    padding-bottom: 50px;
}

.footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding-bottom: 50px;
}
.footer-link,
.footer-link:visited,
.footer-link:active {
    text-decoration: none;
    color: #2c7566;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
}
.footer-li:nth-child(2) {
    margin-left: 50px;
    margin-right: 50px;
}
.footer-icon {
    margin-left: 20px;
    margin-right: 20px;
}
.footer-svg {
    fill: #2c7566;
}
.footer-link:hover,
.footer-svg:hover {
    color: hsl(0, 0%, 100%);
    fill: hsl(0, 0%, 100%);
}

@media only screen and (max-width: 780px) {
    .first-line,
    .second-line {
        width: 100%;
    }
    .nav-right {
        display: none;
    }
    .hamburger {
        display: contents;
    }

    .mobile-menu {
        display: none;
    }
    .nav-show {
        display: inline-block;
    }
    .seccion-about {
        width: 100vw;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .about-item:nth-child(1),
    .about-item:nth-child(4) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
