/* 
font :Barlow
font tittles: Fraunces
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow";
}

.logo {
    margin-left: 50px;
}

.nav {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-ul {
    display: flex;
    list-style: none;
}

.nav-li {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    margin-right: 50px;
}

.nav-button {
    background-color: hsl(0, 0%, 100%);
    border: none;
    font-family: "Fraunces";
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    width: 140px;
    padding: 20px 30px 20px 30px;
    font-size: 16px;
    margin-right: 40px;
}

.home {
    width: 100%;
    height: 800px;
    background-image: url("images/desktop/image-header.jpg");
    background-size: cover;
    background-position: center;
}

.main-tittle {
    font-size: 40px;
    font-family: "Fraunces";
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    padding-top: 130px;
    padding-bottom: 100px;
}

.arrow {
    text-align: center;
}

.seccion-about {
    display: grid;
    grid-template-columns: minmax(400px,1fr) minmax(400px,1fr);
}

.about-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text-item {
    width: 350px;
}

.second-tittle {
    font-family: "Fraunces";
    font-size: 30px;
    margin-bottom: 50px;
    color: hsl(212, 27%, 19%);
}

.paragraph {
    font-size: 16px;
    color: hsl(213, 9%, 39%);
    line-height: 30px;
    margin-bottom: 50px;
}

.about-image {
   width: 100%;
   height: auto;
}

.about-link {
    font-family: "Fraunces";
    text-transform: uppercase;
    text-decoration: none;
    color: hsl(212, 27%, 19%);
    letter-spacing: 2px;
}

.last-images {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.last-text {
    position: absolute;
    top:70%;
    width: 320px;
    text-align: center;
    color: hsl(212, 27%, 19%);
    line-height: 25px;;
}

.third-tittle{
    position: absolute;
    top: 60%;
    font-family: "Fraunces";
    font-size: 20px;
}